.box-l {
  background-color: #fafafa;
  width: 100%;
  display: flex;
  height: 450px;
  padding-top: 70px; }
  .box-l .cl-bxl p {
    font-size: 0.875rem;
    color: #9b9b9b;
    line-height: 1.714;
    margin-bottom: 15px; }
  .box-l .abx .footer-img {
    width: 155px;
    margin-bottom: 25px; }
    .box-l .abx .footer-img img {
      max-width: 100%; }
  .box-l .bbx {
    padding: 0px 20px; }
    .box-l .bbx .posta {
      margin-bottom: 25px;
      height: 50%;
      float: left;
      width: 100%; }
    .box-l .bbx h6 {
      margin-bottom: 15px; }
    .box-l .bbx .img-la {
      width: 80px;
      height: 80px;
      float: left;
      border-radius: 50%;
      background-image: url(../img/post_thumb_1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .box-l .bbx .txt-l {
      float: right;
      width: 71%; }
      .box-l .bbx .txt-l h5 {
        color: red; }
      .box-l .bbx .txt-l ul {
        margin: 0px;
        padding: 0px; }
      .box-l .bbx .txt-l li {
        display: inline-block;
        font-size: 13px;
        margin-right: 15px; }
    .box-l .bbx .imglb {
      background-image: url(../img/post_thumb_2.jpg); }
  .box-l .cbx ul {
    list-style: none; }
  .box-l .cbx li {
    float: left;
    margin: 3px;
    padding: 0px;
    width: 70px;
    height: 70px; }
  .box-l .cbx img {
    width: 100%;
    height: 100%;
    display: block; }

@media only screen and (max-width: 995px) {
  .box-l {
    height: 650px;
    margin-bottom: 50px; } }

@media only screen and (max-width: 768px) {
  .box-l {
    height: 950px; } }
