.box-h{
    width: 100%;
    display: flex;
    height: 900px;
    padding: 80px 0px 50px 0px;;
    background-color: #fafafa;
    text-align: center;
    p{
        font-weight: bold
    }
    h2{
        color: #ff3514;
        font-family: sans-serif;
        font-size: 35px;
    }
    .row{
        height: 180px;
        .cp-bxf{
            background-color: transparent;
            .sp-cl{
                
            border: .5px solid #ff3514;
            }
        }
    }
    .cl-bxh{
        background-color: white;
        .in-cl{
            text-align: center;
            background: #fafafa;
            padding: 4rem 2rem;
            width: 100%;
            height: 100%;
            background-color: white;
            .icn{
                width: 105px;
                height: 105px;
                font-size: 2.825rem;
                margin-top: 10px;
                border-radius: 50%;
                margin-right: 20px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 6px 10px 0px rgba(255, 53, 20, 0.2);
                z-index: 101;
                text-align: center;
                color: rgb(183, 183, 183);
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin:30px auto;
            }
            span{
                
                color: red;
                font-size: 30px;
            }
            p{
                margin: 5px 0px;
                color: gray;
                font-family: sans-serif;
                font-size: 15px;
            }
            strong{
                color:#131315;
            }
            button{
                color: #FFF !important;
                padding: 0.5rem 1.9rem;
                font-weight: 400;
                display: inline-block;
                display: inline-flex;
                outline: none;
                border: none;
                cursor: pointer;
                overflow: hidden;
                z-index: 2;
                align-items: center;
                position: relative;
                cursor: pointer;
                -webkit-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
                -moz-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
                box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
                -webkit-border-radius: 70px;
                -moz-border-radius: 70px;
                border-radius: 70px;
                transition: .5s;
                background-color: #ff3514;
            }
            button:hover{
                background-color: #fc7762;
                transition: .5s;
            }
            .sp-btn{
                background-color: #06163a;
            }
            .sp-btn:hover{
                background-color: #676b72;
            }

        }
    }
}
@media only screen and (max-width:768px){
 .box-h{
     height: 2080px;;
 }   
}